<div>

  <div class="card" id="form-card">
    <div class="card-body">
      <form>
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1" (change)="onChange($event)">
          <option selected>Select Template</option>
          <option *ngFor="let source of sources" [value]="source">{{source}}</option>
        </select>
      </form>
    </div>
  </div>

</div>

<div *ngIf="showForm" class="card" id="form-card">
  <div class="card-body">
    <form [formGroup]="registerForm">
      <div class="form-group" *ngFor="let field of fields">
        <label for="exampleFormControlInput1">{{field.label}}</label>
        <ng-container [ngSwitch]="field.type">
          <input *ngSwitchCase="'input'" class="form-control" id="exampleFormControlInput1" type="text"
            [formControlName]="field.fieldName" />
          <input *ngSwitchCase="'checkbox'" class="form-check-input" id="defaultCheck1" type="checkbox"
            [name]="field.fieldName" [formControlName]="field.fieldName" [value]="field.value" />
          <select *ngSwitchCase="'singleSelect'" class="form-control" id="exampleFormControlSelect1"
            [formControlName]="field.fieldName">
            <option *ngFor="let option of field.options" [value]="option.value">
              {{option.label}}
            </option>
          </select>
        </ng-container>
      </div>
      <button type="button" class="btn btn-primary" id="save-btn" (click)="save()">Save</button>
    </form>
  </div>
</div>

<router-outlet></router-outlet>